@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}


.header {
    background-color: black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    position: sticky;
    top: 0;
}

.logo{
    height: 30px;
}

.header .list-menu {
    color: white;
}

.menu {
    display:flex;
}

.list-li{
    padding: 1%;
    font-size:smaller;
    font-weight: bold;
    /* tenemos que reubicar el menu. Aumentar width */
}

.section-1 {
    /* los colores no son los exactos */
    /* hay que modificar los tamaños de las letras */
    background-color: rgb(51, 123, 186);
    background-image: url(../img/premium_dancer.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 34%;
    width: auto;
    height: 500px;
    color: white;
}


.letras{
    width: 81%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    padding-top: 10px;
}

.button {
    background-color:rgba(26, 228, 59, 0.267);
    color: white;
    font-weight: bold;
    border:none;
    border-radius: 10px;
    padding: 10px;
    /* necesitamos que el botón ocupe solo su contenido */

}

.titulo {
    font-size: 500%;
    font-weight: bold;
}

.subtitulo {
    font-size: 200%;
    font-weight: bold;
}

.letraPequena {
    font-size: 90%;
    width: 70%;
}

.titulo-articulos {
    font-size: 180%;
    font-weight: bold;
    text-align: center;
    padding: 50px;
}

.articulos {
    display:flex;
    justify-content: space-around;
    margin-bottom: 70px;

}

.bold {
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.texto-articulos {
    text-align: center;
}

.footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.footer ul {
    color:white;
}

.footer li {
    font-size: 10px;
}

.footer1 {
    display: flex;
    padding: 10px;
    width: 50%;
}
/* aplicar padding a cada li, que sería cada uno un enlace */

.footer2 {
    width: 50%;
}

/* FALTA EJERCICIO RESPONSIVE */
